<div ng-controller="DashboardCtrl as dashboardVm">
	<!-- Button trigger modal -->
	<button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#myModal" style="margin:20px;">Add Comment
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" my-modal tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Add Comment</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-10">
							<form role="form">

								<div class="form-group">
									<label for="comment" class="pull-left">Comment Note:</label>
									<textarea class="form-control" rows="5" ng-model="dashboardVm.commentNote" id="commentNote"></textarea>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" ng-click="dashboardVm.saveComment()">Save</button>
					</div>
				</div>
			</div>
		</div>

	</div>


	<hr>
	<div style="margin-bottom:20px;"></div>

	<table tr-ng-grid="" items="dashboardVm.taskComments" page-items="dashboardVm.maxResultSet" enable-filtering="false" total-items="dashboardVm.commentCount" on-data-required="dashboardVm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)" fields="['id','commentNote']">
		<thead>
			<tr>
				<th field-name="id" width="50%"></th>
				<th field-name="commentNote" width="50%"></th>
				<th field-name="" width="300px"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<button class="btn btn-primary btn-md adminAction" ng-click="dashboardVm.editComment(gridDisplayItem.id)">
						Edit
					</button>
					|
					<button class="btn btn-primary btn-md adminAction" ng-click="dashboardVm.removeComment(gridDisplayItem.id)">
						Delete
					</button>
				</td>

			</tr>
		</tbody>


	</table>

</div>