<table tr-ng-grid="" items="dashboardVm.projectData" page-items="dashboardVm.maxResultSet" enable-filtering="false" total-items="dashboardVm.projectCount" on-data-required="dashboardVm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)" fields="['id','projectName','description']">
	<thead>
		<tr>
			<th field-name="id" width="50%"></th>
			<th field-name="projectName" width="50%"></th>
			<th field-name="description" width="50%"></th>
			<th field-name="" width="300px"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>

				<button class="btn btn-primary adminAction" ng-click="dashboardVm.addTask(gridDisplayItem.id)">
					View Task
				</button>
				<button class="btn btn-primary adminAction" ng-click="dashboardVm.editProject(gridDisplayItem.id)">
					Edit
				</button>

				<button class="btn btn-primary adminAction" ng-if="checkIfManager" ng-click="dashboardVm.removeProject(gridDisplayItem.id)">
					Delete
				</button>

			</td>

		</tr>
	</tbody>


</table>